/********  utils  *********/

:root{
    --main-color:#FF52BF;
    --VPC-color:#EBFBFF;
    --VDC-color:#00252E;
    --GB-color:#808D99;

}

/*********  fonts  ***********/

*{
    
    font-family: 'Open Sans',sans-serif;
}

h2{
    font-size: 40px;

}

h3{
    font-size: 28px;
}

p{
    font-size: 18px;
}

/*******  components *********/

.button-1{
    width: 200px;
    height: 48px;
    background-color: var(--main-color);
    color:#fff;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    border-radius: 28px;
    border: 0;
    box-sizing: 28px;
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
    cursor: pointer;
}

.button-2{
    width: 200px;
    height: 48px;
    border-radius: 28px;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    background:#fff;
    border: 0;
    cursor: pointer;
}

a:hover{
    opacity: 0.6;
}



/*********  body  ***********/

.container{
   
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

body{
    background-image: url(/public/assets/images/bg-hero-desktop.svg);
    background-color: var(--VPC-color);
    margin: 0;
    padding: 48px 80px;
}

/********* header   *************/

.nav-header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 31px;
}


/********  hero-section  ********/
.hero-container{
    margin-top: 75px;
    display: flex;
   
}
.hero-content{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-body{
   margin: 54px 0px;
}

.text-body h2{
    margin: 87px 54px 32px 0px;
    width: 536px;
    font-family:'Poppins',sans-serif;
    font-size: 2.5rem;
    color: var(--VDC-color);
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 10px;
}

.text-body p{
    margin: 0px 0px 32px;
    width: 520px;
    color: var(--VDC-color);
    font-weight: 400;
    line-height: 27px;
}

.hero-content img{
    
    width:56%;
    height:auto;
}


/**********  grow-section  *********/
.main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 160px 0px 0px;
    gap: 40px;
}


.Grow-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:auto;
    height: 440px;
    background-color: #ffff;
    border-radius: 16px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
}


.text-content{
    margin:90px;
}

.text-content h3{
    font-family: 'Poppins',sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 42px;
}

.text-content p{  
    width: 488px;
    color: var(--GB-color);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 27px;
}

.grow-image{
    width: 50%;
    height: auto;
}



/*******  conversation-section  *****/

.conversation-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
}

.text-content h3{
    font-family: 'poppins',sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 42px;
}

.text-content p{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 27px;
}

.talk-image{
    display: flex;
    width: 90%;
    height: auto;
}




/*********  users-section  *********/




@media screen and (max-width:480px) {

    .nav-header{
        display: flex;
        justify-content: space-between;
    }


    .hero-content{
        display: flex;
        flex-direction: column;
    }

    .hero-content img{
        display: flex;
        align-items: center;
        width: 56%;
        height: auto;
    }

    .text-body{
       text-align: center;
       gap: 32px;
    }

    .text-body h2{
        margin-bottom: 24px;
    }
    .text-body p{
        margin-bottom: 32px;
    }

   


    .main-container{
        display: flex;
        flex-direction:row;
    }

    .Grow-card{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .text-content{
        display: flex;
        flex-direction: column-reverse;
        width: 50%;
        height: auto;
        margin:44px 43px 33px;
        justify-content: center;
    }

    .text-content h3{
        
    }

    .grow-image img{
       flex-direction: row-reverse;
    }

   
}